/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

body{
    background-color: #161D2F;
}

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

li{
    color:#5A698F;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
