.search-container{
    /* background-color: #10141E; */
    padding-top: 5%;
    padding-bottom: 5%;
}

.search-input{
    /* background-color: #10141E; */
    border:none;
    font-size: 1rem;
    color: #fff;
}

.fa{
    font-size: 1rem;
    display: flex;
    align-items: center;
    color: #fff;
}